.modal-table-height {
	overflow-y: auto;
	max-height: 223px;
}


/*add*/
.sidebar-dark .nav-item .nav-link i { color: rgb(255, 255, 255); width: 29px; text-align: left; font-size: 18px;} 
.topbar.navbar-light .navbar-nav .nav-item .nav-link { color: #0091ff;}
.topbar .navbar-search input{border: 1px solid #d4d4d4 !important; height: 44px;}
.sidebar .nav-item .collapse .collapse-inner{border-radius: 0 !important;}
.sidebar .nav-item .collapse, .sidebar .nav-item .collapsing{margin: 0 0 !important; }
.sidebar.bg-gradient-primary { background-size: cover; background-image: linear-gradient(to left, #0091ff, #0083e7, #0076cf, #0069b7, #005ca0);}
.sidebar-dark .nav-item .nav-link:hover i{color: rgb(0, 145, 255) !important;}
.sidebar-dark .logo{ width: 150px; }
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {background-color: rgba(234, 236, 244, 0) ;}
.sidebar .nav-item .nav-link span{font-size: 14px;}
.div.dataTables_wrapper div.dataTables_info{font-size: 14px ;} 
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item { padding: .5rem 1rem .5rem 3rem;}
.copyright span{color: #005ca0;}
.page-item.disabled .page-link{ font-size: 14px; }
.sidebar .collapse-item i{margin-right: 10px;}
.table thead th{font-size: 14px;}
.page-item.active .page-link, .table tr td{font-size: 14px;}


.list_box span{display: block; text-align: center; margin-top: 15px;}
.list_box .img-box{width: 180px; height: 180px; margin:0 auto 10px; overflow: hidden;}
.list_box .img-box img{height: 180px;}
.shadow_box{ box-shadow: -2px 5px 14px rgba(204, 204, 204, 0.73); }




/*responsive==========================================*/
@media (max-width:800px){
	.list_box .img-box{ width: 150px; height: 150px; }
}
@media (max-width:768px){
.sidebar-dark .nav-item .nav-link i{ text-align: center; }
}

@media (max-width:600px){
.btn-group-sm>.btn, .btn-sm { padding: 5px; font-size: 8px;  line-height: 1.5;}
}



/*redio======================================================*/
	.toggle_radio{position:relative;background:rgb(236, 236, 236);margin:4px auto;overflow:hidden;padding:0!important;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;position:relative;height:26px; float: left; display: flex;}
	.toggle_radio > *{float:left;}
	.toggle_radio input[type=radio]{display:none; }
	.toggle_radio label{color:rgba(82, 82, 82, 0.9);z-index:0;display:block;width:100px;height:20px;margin:3px 3px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;cursor:pointer;z-index:1; font-size: 14px; text-align:center; }
	.toggle_option_slider{width:100px;height:20px;position:absolute;top:3px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease; background:rgba(0, 142, 249, 0.24);}

	.part .toggle_option:nth-child(2):checked ~ .toggle_option_slider{left:109px; width: 179px;}
	.part .toggle_radio label.stadium{width: 179px;} 

	.toggle_option:nth-child(1):checked ~ .toggle_option_slider{left:3px;}
	.toggle_option:nth-child(2):checked ~ .toggle_option_slider{left:109px;}
	.toggle_option:nth-child(3):checked ~ .toggle_option_slider{left:215px;}
	.toggle_option:nth-child(4):checked ~ .toggle_option_slider{left:321px;} 
	.toggle_option:nth-child(5):checked ~ .toggle_option_slider{left:426px;}
	.toggle_option:nth-child(6):checked ~ .toggle_option_slider{left:534px;}
	.toggle_option:nth-child(7):checked ~ .toggle_option_slider{left:638px;}
	.toggle_option:nth-child(8):checked ~ .toggle_option_slider{left:726px;} 
	.bg-custom{ background-size: cover; background-color:#0091ff !important; color: #fff !important;}

	.scroll-to-top .fas{line-height: 40px;}

	